<% provide(:title, t("about_us")) %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2><%= t "about_us" %></h2>
      <h4><%= t ".content_1" %></h4>
      <p class="content_about"><%= t ".content_2" %></p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo"></span>
    </div>
    <div class="col-sm-8">
      <h2><%= t ".our_values" %></h2>
      <h4><%= t ".content_3" %></h4>
      <p class="content_about"><%= t ".content_4" %></p>
    </div>
  </div>
</div>
