<% provide(:title, t("branch")) %>
<div class="text-center">
  <h2><%= t "branch" %></h2>
  <h4><%= t ".we_are_in" %></h4>
</div>
<div class="row slideanim">
  <div class="col-sm-4 col-xs-12">
    <div class="panel panel-default text-center">
      <div class="panel-heading">
        <h1><%= t ".hanoi" %></h1>
      </div>
      <div class="panel-body">
        <p><strong><%= t "address" %>:</strong><%= t ".address_hn" %></p>
        <p><strong><%= t "time" %>:</strong><%= t ".time" %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12">
    <div class="panel panel-default text-center">
      <div class="panel-heading">
        <h1><%= t ".danang" %></h1>
      </div>
      <div class="panel-body">
        <p><strong><%= t "address" %>:</strong><%= t ".address_dn" %></p>
        <p><strong><%= t "time" %>:</strong><%= t ".time" %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12">
    <div class="panel panel-default text-center">
      <div class="panel-heading">
        <h1><%= t ".hcm" %></h1>
      </div>
      <div class="panel-body">
        <p><strong><%= t "address" %>:</strong><%= t ".address_hcm" %></p>
        <p><strong><%= t "time" %>:</strong><%= t ".time" %></p>
      </div>
    </div>
  </div>
</div>
