<%= provide :title, t("bill") %>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <h4 class="col-md-6"><%= t ".list" %></h4>
    </div>
    <hr>
    <div class="table-responsive col-md-12">
      <table id="mytable" class="table table-bordred table-striped">
        <thead>
        <th><%= t ".owner_name" %></th>
        <th class="text-center"><%= t "address" %></th>
        <th class="text-center"><%= t "phone" %></th>
        <th class="text-center"><%= t "status" %></th>
        <th class="text-center"><%= t "edit" %></th>
        <th class="text-center"><%= t "delete" %></th>
        <th class="text-center"><%= t "detail" %></th>
        </thead>
        <tbody>
        <% @bills.each do |bill| %>
          <tr>
            <td><%= bill.name %></td>
            <td class="text-center"><%= bill.address %></td>
            <td class="text-center"><%= bill.phone %></td>
            <td class="text-center"><%= convert_status_bill bill.status %></td>
            <td class="text-center">
              <p data-placement="top" data-toggle="tooltip" title="<%= t "edit" %>">
                <%= link_to edit_admin_bill_path(bill), class: "btn btn-primary btn-xs" do %>
                  <span class="glyphicon glyphicon-pencil"></span>
                <% end %>
              </p>
            </td>
            <td class="text-center">
              <p data-placement="top" data-toggle="tooltip" title="<%= t "delete" %>">
                <%= link_to admin_bill_path(bill), method: :delete, class: "btn btn-danger btn-xs" do %>
                  <span class="glyphicon glyphicon-trash"></span>
                <% end %>
              </p>
            </td>
            <td class="text-center">
              <p data-placement="top" data-toggle="tooltip" title="<%= t "detail" %>">
                <%= link_to admin_bill_path(bill), class: "btn btn-warning btn-xs" do %>
                  <span class="glyphicon glyphicon glyphicon-eye-open"></span>
                <% end %>
              </p>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div class="row float-right">
        <%== pagy_nav @pagy %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
