<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <%= image_tag (current_user.avatar.nil? ? "http://placehold.it/230x230" : current_user.avatar), class: "img-rounded img-responsive" %>
        </div>
        <div class="col-sm-6 col-md-8">
          <strong><%= t "email" %>:</strong> <%= current_user.email %><br><br>
          <strong><%= t ".account_created_at" %></strong><%= current_user.created_at %>
        </div>
      </div>
    </div>
  </div>
</div>
