<% provide(:title, t("my_profile")) %>
<div id="profile">
  <div class="container">
    <div class="row profile">
      <div class="col-md-3 no-pading-left">
        <div class="profile-sidebar">
          <div class="profile-usertitle">
            <div class="profile-usertitle-name">
              <%= current_user.email %>
            </div>
          </div>
          <div class="profile-usermenu">
            <ul class="nav">
              <li id="nav-show" class="active">
                <%= link_to profile_path, remote: true do %>
                  <i class="glyphicon glyphicon-user"></i>
                  <%= t ".account_info" %>
                <% end %>
              </li>
              <li id="nav-edit">
                <%= link_to edit_user_registration_path, remote: true do %>
                  <i class="glyphicon glyphicon-lock"></i>
                  <%= t ".account_settings" %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9" >
        <div id="profile-content">
          <%= render "users/user" %>
        </div>
      </div>
    </div>
  </div>
</div>
