<% if @books.present? %>
  <% @books.each do |book| %>
    <div class="item col-xs-4 col-lg-4">
      <div class="thumbnail">
      <%= link_to image_tag(book.image), book_path(book), class: "group list-group-image" %>
      <% if book.discount %>
        <span class="label label-danger"><%= book.discount %> %</span>
      <% end %>
      <div class="caption">
        <h4 class="group inner list-group-item-heading title">
          <%= book.name %></h4>
        <h5 class="group inner list-group-item-heading">
          <%= book.author_name %></h5>
        <p class="group inner list-group-item-text">
          <%= book.description.truncate(Settings.description_length, separator: " ") %>
        </p>

        <p class="lead">
          <%= load_price final_price(book.price, book.discount) %>
        </p>
        <div class="row">
          <div id="action-<%= book.id %>">
            <%= render "home/action", book: book %>
          </div>
        </div>
        <div class="alert alert-info" role="alert" id="alert-<%= book.id %>">
          <%= t ".item_added" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% unless @books.length < Settings.list_length %>
    <div class="row text-center" id="load_more">
      <div class="space">
        <%= link_to t(".view_more"), root_path({last: @books.last.id, search: @search}), remote: true, class: "btn-info" %>
      </div>
    </div>
  <% end %>
<% else %>
  <h2><%= t ".list_book_empty" %></h2>
<% end %>
