<% if @books.present? %>
  <% @books.each do |book| %>
    <div class="item col-xs-4 col-lg-4">
      <div class="thumbnail">
      <%= image_tag book.image, class: "group list-group-image" %>
      <% if book.discount %>
        <span class="label label-danger"><%= book.discount %> %</span>
      <% end %>
      <div class="caption">
        <h4 class="group inner list-group-item-heading">
          <%= book.name %></h4>
        <h5 class="group inner list-group-item-heading">
          <%= book.author_name %></h5>
        <p class="group inner list-group-item-text">
          <%= book.description.truncate(Settings.description_length, separator: " ") %>
        </p>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <p class="lead">
              <%= load_price final_price(book.price, book.discount) %></p>
          </div>
          <div class="col-xs-12 col-md-6">
            <button class="btn btn-success"><%= t ".add_to_cart" %></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <div class="row text-center" id="load_more">
    <div class="space">
      <%= link_to t(".view_more"), root_path({last: @books.last.id}), remote: true, class: "btn-info" %>
    </div>
  </div>
<% end %>
