<p><%= t ".hello" %> <%= @resource.email %>!</p>
<p><%= t ".content_link" %></p>
<p><%= link_to t(".title_link"), edit_password_url(@resource, reset_password_token: @token) %></p>
<p><%= t ".content_ignore" %></p>
<p><%= t ".content_not_change" %></p>
