<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("logo.jpg"), root_path %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= current_class? root_path %>"><a href="<%= root_path %>"><%= t("main_page").upcase %></a></li>
        <li><a href="#"><%= t("category").upcase %></a></li>
        <li><a href="#"><%= t("author").upcase %></a></li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <a class="dropbtn"><%= t("my_account").upcase %></a>
            <div class="dropdown-content">
              <a href="<%= profile_path %>"><%= t "my_profile" %></a>
              <a href="<%= my_bills_path %>"><%= t "my_bill" %></a>
              <% if current_user.role == User::ADMIN %>
                <a href="<%= admin_book_discounts_path %>"><%= t "go_admin" %></a>
              <% end %>
              <a href="<%= destroy_user_session_path %>" data-method="delete"><%= t "logout" %></a>
            </div>
          </li>
        <% else %>
          <li class="<%= current_class? new_user_registration_path %>"><a href=<%= new_user_registration_path %>><%= t("signup").upcase %></a></li>
          <li class="<%= current_class? new_user_session_path %>"><a href=<%= new_user_session_path %>><%= t("login").upcase %></a></li>
        <% end %>
        <li class="<%= current_class? carts_path %>" id = "icon-cart">
          <a href="<%= carts_path %>">
            <div class="icon-shopping-cart">
              <asp:Label ID="lblCartCount" runat="server" CssClass="badge badge-warning"  ForeColor="White"/><%= @total %></div>
            <i class="fa fa-shopping-cart"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
